<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <h1>My To-do List</h1>
    </div>
    <div class="todo-form">
        <!-- Form to create new todo -->
        <form hx-post="/todos" hx-target="#todos" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
            <input type="text" name="todo" placeholder="I get to..." required>
            <button>Create</button>
        </form>
    </div>
    <hr>
    <div class="todo-list">
        <!-- List of todos -->
        <ul id="todos" hx-get="/todos" hx-swap="innerHTML" hx-trigger="load"></ul>
    </div>
</body>
</html>
